<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>RPN Calculator</title>
</head>
<body>
    <h1>RPN Calculator</h1>
    <div th:if="${showResult}">
        <span th:text="${expression}" id="oldExpression">3 4 +</span>
        =
        <strong th:text="${result}" id="result">7.0</strong>
    </div>
    <div th:if="${showError}">
        <strong th:text="${'Error: ' + errorMessage}" id="errorMessage"></strong>
    </div>
    <form method="post" action="/calc">
        <input type="text" id="expression" name="expression" th:value="${expression}" /><br />
        <input type="submit" id="submit" value="Calculate" />
    </form>
</body>
</html>
